<div class="main-wrapper">
  <ng-template [ngIf]="character">

    <h2 @listAnimationEnter>
      <span>
        {{ character?.name?.toLowerCase() }}
      </span>
      <button 
        (click)="toggleFavorite()"
        mat-mini-fab 
        [color]="isFavorite ? 'warn' : undefined"
        aria-label="Favorite">
        <mat-icon>favorite</mat-icon>
      </button>
    </h2>

    <div class="properties" @listAnimationEnter>
      <ng-template ngFor [ngForOf]="dataToShow" let-prop>
        <app-detail *ngIf="hasProp(prop)" 
          [description]="prop"
          [value]="getProp(prop)">
        </app-detail>
      </ng-template>

      <app-detail 
        *ngIf="homeworld"
        @listAnimationEnter
        [description]="'homeworld'"
        [value]="homeworld">
      </app-detail>

      <app-detail 
        *ngIf="films"
        @listAnimationEnter
        [description]="'films'"
        [value]="films">
      </app-detail>
    
    </div>
  </ng-template>
  
  <app-loader
    *ngIf="loading" 
    [value]="loading">
  </app-loader>

</div>
