nav {
  background: #000;
}

.nav-container {
  height: 60px;
  padding: 0 30px;
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

h1 {
  font-size: 28px;
  user-select: none;
}

a {
  text-decoration: none;
}