@import '~src/scss/mixins';

nav {
  background: #000;
  color: #fff;
}

.nav-container {
  height: 60px;
  padding: 0 30px;
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

h1 {
  font-size: 28px;
  user-select: none;
  color: var(--yellow);
  &.mobile {
    display: none;
  }

  @include for-mobile {
    font-size: 22px;

    &.mobile {
      display: block;
    }
    &.desktop {
      display: none;
    }

  }
}

.home-link {
  text-decoration: none;
  flex-shrink: 0;
}

.toggle {
  margin-left: auto;
  display: flex;
  align-items: center;
  span {
    font-size: 11px;
    margin-right: 6px;

    @include for-mobile {
      display: none;
    }
  }
}