@import '~src/scss/mixins';

$text-color: #e3e3e3;
$background: #000;

nav {
  background: $background;
}

.nav-container {
  height: 68px;
  padding: 0 30px;
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  align-items: center;

  @include for-mobile {
    padding: 0 15px;
  }
}

h1 {
  font-size: 28px;
  user-select: none;
  color: var(--yellow);

  &.mobile {
    display: none;
  }

  @include for-mobile {
    &.mobile {
      display: block;
    }
    &.desktop {
      display: none;
    }

  }
}

.home-link {
  text-decoration: none;
  flex-shrink: 0;
}

.toggle {
  margin-left: auto;
  display: flex;
  align-items: center;
  
  span {
    font-size: 12px;
    margin-right: 10px;
    color: $text-color;

    @include for-mobile {
      display: none;
    }
  }
}