
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$star-wars-codex-primary: mat.define-palette(mat.$red-palette);
$star-wars-codex-accent: mat.define-palette(mat.$red-palette, A200, A100, A400);
$star-wars-codex-primary-dark: mat.define-palette(mat.$yellow-palette);
$star-wars-codex-accent-dark: mat.define-palette(mat.$yellow-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$star-wars-codex-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$star-wars-codex-theme: mat.define-light-theme((
  color: (
    primary: $star-wars-codex-primary,
    accent: $star-wars-codex-accent,
    warn: $star-wars-codex-warn,
  )
));
$star-wars-codex-theme-dark: mat.define-dark-theme((
  color: (
    primary: $star-wars-codex-primary-dark,
    accent: $star-wars-codex-accent-dark,
    warn: $star-wars-codex-warn,
  )
));

:root:not([theme=dark]) {
  @include mat.all-component-themes($star-wars-codex-theme);
}
:root[theme=dark] {
  @include mat.all-component-themes($star-wars-codex-theme-dark);
}


// Overrides

.mat-paginator {
  background: none !important;
}

:root:not([theme=dark]) .mat-slide-toggle-bar {
  background-color: #a2a2a2;
}

.mat-card {
  font-family: inherit;
}