:root:not([theme=dark]) {
  --yellow : #FFE81F;
  --background-primary: #f7f7f7;;
  --color-primary: #1e1e1e;
  --title-color: #000000;
}
:root[theme=dark] {
  --yellow : #FFE81F;
  --background-primary: #181818;
  --color-primary: #ececec;
  --title-color: #e3e3e3;
}


html {
  background: var(--background-primary);
  color: var(--color-primary);
}